* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #efefe8;
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.modalContain {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}


.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    background: linear-gradient(to bottom right, #4368AF, #262681);
    padding: 2%;
    margin: auto;
    border-radius: 15px;
    filter: drop-shadow(0 0 0.75rem rgb(20, 22, 19));
    color: #efefe8;
    font-size: 20px;
}

#studentThomas {
    width: 250px;
    margin-bottom: 5%;
    border: ridge #262681;
    border-radius: 20px;
}

.close {
    float: right;
    color: lightgray;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 2%;
    padding: 1%;
}

.close:hover {
    color: rgb(83, 202, 83);
}

/* CSS for MOBILE CONTACT ! 
...
...*/
@media screen and (min-width : 320px) {


    #titlecontact {
        width: 100%;
        font-family: 'Bebas Neue', cursive;
        font-size: xx-large;
        color: #efefe8;
        padding: 3%;
        margin-top: 9%;
        background-color: #98B92C;
    }

    .address {
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin: 9%;
        animation: myAnim 2s ease 0s 1 normal forwards;
    }

    .separation {
        animation: myAnim 2s ease 0s 1 normal forwards;
    }

    .contact {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-left: 8%;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        background-color: #efefe8;
    }

    .form-right {
        display: none;
    }

    label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: none;
        margin-top: 3%;
        margin-bottom: 3%;
        width: 100%;
    }

    input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 2%;
        border: none;
        background-color: #efefe8;
        border-bottom: solid #4368AF 1px;
        padding: 2%;
    }

    textarea {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 2%;
        border: none;
        background-color: #efefe8;
        padding: 2%;
        resize: none;
    }

    .personal-info {
        width: 90%;
        padding: 2%;
    }

    button {
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        font-size: large;
        color: #efefe8;
        padding: 3%;
        width: 30%;
        margin-bottom: 10%;
        margin-left: 50%;
        background: linear-gradient(to bottom right, #4368AF, #262681);
        border: none;
        border-radius: 8px;
    }
}

/* CSS for TABLET AND DESKTOP CONTACT ! 
...
...*/

@media screen and (min-width: 768px) {
    #contact {
        margin-top: 300px;
    }
    .close {
        margin-right: -55%
    }

    #titlecontact {
        width: 100%;
        font-family: 'Bebas Neue', cursive;
        font-size: xx-large;
        color: black;
        margin-top: 3%;
        padding: 1%;
        background: linear-gradient(0.25turn, #98B92C, #efefe8, #98B92C);
    }

    .address {
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        font-size: x-large;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin: 4%;
        animation: myAnim 2s ease 0s 1 normal forwards;
    }

    .separation {
        margin-bottom: 4%;
        animation: myAnim 2s ease 0s 1 normal forwards;
    }

    .cardFrance {
        width: 90%;

    }

    .contact {
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        font-size: large;
        background: linear-gradient(to bottom right, #98B92C, #5c750a);
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: auto;
        width: 800px;
        padding: 3%;
        animation: myAnim 2s ease 0s 1 normal forwards;
    }

    .form-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        filter: drop-shadow(0 0 0.75rem rgb(20, 22, 19));
        width: 100%;
        margin-top: 4%;
    }

    #campus {
        margin-bottom: 8%;
        font-size: x-large;
        color: #efefe8;
        text-decoration: underline;
    }

    .form-left {
        width: 100%;

    }

    label {
        border: none;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    input {
        width: 100%;
        margin-bottom: 1%;
        border: none;
        border-radius: 8px;
        background-color: #efefe8;
        padding: 3%;
    }

    textarea {
        width: 100%;
        margin-bottom: 2%;
        border: none;
        border-radius: 8px;
        background-color: #efefe8;
        padding: 2%;
    }

    .butSub {
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        font-size: large;
        color: #efefe8;
        padding: 1%;
        width: 10%;
        margin-top: 2%;
        margin-left: 30%;
        background: linear-gradient(to bottom right, #4368AF, #262681);
        border: none;
        border-radius: 8px;
    }
}

@media screen and (min-width: 768px)  and (max-width:1440px) {
    #contact {
        margin-top: 300px;
    }
}